# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter generated
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/Generated.xcconfig

# Optional (nếu không muốn push)
pubspec.lock

.metadata